/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.App {
  text-align: center;
  width: 100%;
}

body {
  /* background: linear-gradient(60deg, gray 0 47%, green 49% 67%); */
  height: 1333px;
}

h2 {
  color: white;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.col-md-2 {
  display: inline-block;
  width: 15%;
}
.col-md-3 {
  display: inline-block;
  width: 20%;
}

.col-md-8 {
  display: inline-block;
  width: 90%;
}
.col-md-6 {
  display: inline-block;
  width: 50%;
}
.col-md-4 {
  display: inline-block;
  width: 25%;
}
.col-md-5 {
  display: inline-block;
  width: 35%;
}
.col-md-4 {
  display: inline-block;
  width: 25%;
}
.col-md-12 {
  display: inline-block;
  width: 100%;
}
