.header {
  width: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  /* background: linear-gradient(60deg, gray 0 47%, rgb(155, 173, 155) 49% 67%); */
  background-image: linear-gradient(rgb(123, 140, 170), rgb(241, 241, 241));
  min-height: 5em;
}

.half {
  width: 24%;
  display: inline-block;
}
.half a {
  float: inline-end;
}

h2 {
  color: #863b00;
}

.login-main {
  background-image: url("https://qph.cf2.quoracdn.net/main-qimg-e02ebce1ef754aba55f15bf3d5a489cf-lq");
  background-size: cover;
  /* height: 900px; */
  background-position-y: center;
  aspect-ratio: 2;
}

.login-screen {
  margin-top: 17em;
  position: absolute;
  width: 97em;
  margin-left: 26em;
}

.brand {
  width: 41px;
  height: 18px;
}

.notification {
  position: absolute;
  top: -15em;
  left: 0.5em;
  background-color: #d1d1d1;
  width: 16em;
  border-radius: 1em;
  padding: 0.3em;
  animation: slidein 3s ease-in-out 10s, slideout 3s ease-in-out 10s;
}

@keyframes slidein {
  from {
    top: -15em;
  }
  to {
    top: 1em;
  }
}
@keyframes slideout {
  from {
    top: 1em;
  }
  to {
    top: -15em;
  }
}
